{{> organisms-header }}
<div class="contentarea" role="main">
	<div class="leftcolumn">
		{{> atoms-hero }}
		{{> organisms-article }}		
	</div>
	<div class="rightcolumn">
		{{> atoms-relatedlinks }}
	</div>
	
	</div>
</div>
{{> organisms-footer }}
