<ul>
	<li><a href="#">Footer Links 1</a></li>
	<li><a href="#">Footer Links 2</a></li>
	<li><a href="#">Footer Links 3</a></li>
	<li><a href="#">Footer Links 4</a></li>
	<li><a href="#">Footer Links 5</a></li>
	<li><a href="#">Footer Links 6</a></li>
</ul>