<ul>
	<li><a href="#">Related 1</a></li>
	<li><a href="#">Related 2</a></li>
	<li><a href="#">Related 3</a></li>
	<li><a href="#">Related 4</a></li>
	<li><a href="#">Related 5</a></li>
	<li><a href="#">Related 6</a></li>
</ul>