body {
  margin: 0;
  padding: 0;
}
p,
h3,
.page-header,
.contentarea,
.leftcolumn,
.articlearea,
.articledetailrow1,
.comtentareaimg,
.rightcolumn,
.bannerimg,
.authordetail,
.authordata,
.authorphoto,
.pagefooter {
  float: left;
}
.page-header {
  background-color: #ccc;
  width: 100%;
}
.page-header h2 {
  color: #000;
  margin: 5% 5% 5% 10px;
}
.contentarea {
  width: 100%;
}
.contentarea .leftcolumn {
  width: 75%;
  background-color: #eee;
  padding: 10px;
}
@media only screen and (max-width: 480px) {
  .contentarea .leftcolumn {
    width: 100%;
  }
}
.contentarea .leftcolumn .bannerimg {
  width: 100%;
}
.contentarea .leftcolumn .articlearea {
  width: 100%;
}
.contentarea .leftcolumn .articlearea .articledetailrow1 {
  width: 100%;
}
.contentarea .leftcolumn .articlearea .articledetailrow1 .authordetail {
  clear: left;
  width: 100%;
}
.contentarea .leftcolumn .articlearea .articledetailrow1 .authordetail .authorphoto {
  width: auto;
}
@media only screen and (max-width: 480px) {
  .contentarea .leftcolumn .articlearea .articledetailrow1 .authordetail .authorphoto {
    width: 25%;
  }
}
.contentarea .leftcolumn .articlearea .articledetailrow1 .authordetail .authordata span {
  display: block;
  margin: 15px;
}
.contentarea .leftcolumn .articlearea .contentareaimg {
  width: 100%;
}
.contentarea .rightcolumn {
  width: 25%;
  background-color: #aaa;
  padding: 5px;
}
@media only screen and (max-width: 480px) {
  .contentarea .rightcolumn {
    width: 100%;
  }
}
.pagefooter {
  width: 100%;
  background: #ddd;
}
