@black-color: #000;
@grey-color: #ccc;


body {
	margin:0;
	padding:0;
}

p,h3, .page-header, .contentarea, .leftcolumn, .articlearea, .articledetailrow1, .comtentareaimg, .rightcolumn, .bannerimg, .authordetail, .authordata, .authorphoto, .pagefooter {
	float:left;
}
.page-header {
	background-color:@grey-color;
	width:100%;
	
	h2 {
		color:@black-color;
		margin: 5% 5% 5% 10px;
	}
}

.contentarea {
	width:100%;
	
	.leftcolumn {
		width:75%;
		background-color:#eee;
		
		@media only screen and (max-width : 480px) {
			width:100%;
		}
		padding:10px;
		
		.bannerimg {
			width:100%;
		}	
		.articlearea {
			width:100%;
			
			.articledetailrow1 {
				width:100%;
				
				.authordetail {
					clear:left;
					width:100%;
					
					.authorphoto{
						width:auto;
						
						@media only screen and (max-width : 480px) {
							width:25%;
						}
					}
					.authordata span {
						display:block;
						margin:15px;
					}
				}
				
			}
			
			.contentareaimg {
				width:100%;
				
			}
		}
	}
	.rightcolumn {
		width:25%;
		@media only screen and (max-width : 480px) {
			width:100%;
		}
		background-color:#aaa;
		padding:5px;
	}
}

.pagefooter {
	width: 100%;
    background: #ddd;
}