<div class="articledetailrow1">
<p>Article Date:</p>
<div class="authordetail">
<img src="../../images/sample/avatar1.jpg" alt="authorphoto" class="authorphoto" />
<div class="authordata">
	<span>Author Name</span>
	<span>Author Location</span>
</div>
</div>
</div>